*{
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
}
.modal-backdrop{
    background-image: url("../images/minecraft_background.jpg");
    background-size:cover ;
    background-repeat: no-repeat;
    height: 100%;
    background-attachment: fixed; 
    background-position: center;
    opacity: 1!important; /* Can't do other way because of Bootstrap */
}
.modal-content{
    background-color: rgba(34,139,34, 0.5);
    height:500px;
}
.button{
    align-self: center;
    width : 25vw;
    margin :5px;
    font-size: 2vw;
    border-radius:10px;
    border : 1px solid white;
    padding : 0 15px;
}
.button-container{
    margin : auto;
    
}
#menu .tools, #menu2 .blocks {
    background-size: contain;
    background-repeat: no-repeat;
    height:80px;
    width: 80px;
    cursor: pointer;
    margin-top : 2px;

}
.tools , .blocks {
    border:1px solid black;
}

.selected {
    border: 3px solid firebrick;
}

.pixel {
    box-sizing: border-box;
    height: 50px;
    width: 50px;
    background-size: contain;
    background-repeat: no-repeat;
    transition: 0.2s all ease-in-out;
}

.hovered {
    transition: 0.2s all ease-in-out;
    opacity: 0.7;
    box-sizing: border-box;
    transition: all 0.2s ease-in-out;    
}
#shovel{
    background : url("../images/shovel.png");
}
#axe{
    background : url("../images/axe.png");
}
#pickaxe{
    background : url("../images/pickaxe.png");
}
#shear{
    background : url("../images/shears.png");
}
#mower{
    background : url("../images/mower.gif");
}
.sky {
    background-color: skyblue;
}

.cloud {
    background-color: whitesmoke;
}

.tree, #tree {
    background-image: url(../images/log_oak.png);
}

.leaf, #leaf {
    background-image: url(../images/leaves.png);
}

.grass, #grass {
    background-image: url(../images/grass_side.png);
}

.dirt, #dirt {
    background-image: url(../images/dirt.png);
}
.stone,#stone {
    background-image: url(../images/cobblestone.jpg)
}

@media only screen and (max-width: 1500px) {
    .pixel {
        height: 40px;
        width: 40px;
    }
}
@media only screen and (max-width: 1250px) {
    .pixel {
        height: 30px;
        width: 30px;
    }
    #menu .tools, #menu2 .blocks{
        height: 50px;
        width: 50px;
    }
    
}
@media only screen and (max-width: 800px) {
    .pixel {
        height: 20px;
        width: 20px;
    }
    #menu .tools, #menu2 .blocks{
        height: 35px;
        width: 35px;
    }
}
@media only screen and (max-width: 450px) {
    .pixel {
        height: 15px;
        width: 15px;
    }
    #menu .tools, #menu2 .blocks{
        height: 25px;
        width: 25px;
    }
}