*{
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
}

#menu {
    height: 100vh;
}

#menu .tools, #menu2 .blocks {
    background-size: contain;
    background-repeat: no-repeat;
    height:5vw;
    width: 5vw;
    cursor: pointer;
    margin-top : 2vh;
}
.tools{
    border:1px solid black;
}
#world {
    height: 100vh;
}

.pixel {
    box-sizing: border-box;
    height: 3vw;
    width: 3vw;
    background-size: contain;
    background-repeat: no-repeat;
    transition: 0.2s all ease-in-out;
}

.hovered {
    transition: 0.2s all ease-in-out;
    opacity: 0.7;
    box-sizing: border-box;
    transition: all 0.2s ease-in-out;    
}
#shovel{
    background : url("../images/shovel.png");
}
#axe{
    background : url("../images/axe.png");
}
#pickaxe{
    background : url("../images/pickaxe.png");
}
#shear{
    background : url("../images/shears.png");
}
#mower{
    background : url("../images/mower.gif");
}
.sky {
    background-color: skyblue;
}

.cloud {
    background-color: whitesmoke;
}

.tree, #tree {
    background-image: url(../images/log_oak.png);
}

.leaf, #leaf {
    background-image: url(../images/leaves.png);
}

.grass, #grass {
    background-image: url(../images/grass_side.png);
}

.dirt, #dirt {
    background-image: url(../images/dirt.png);
}
.stone,#stone {
    background-image: url(../images/cobblestone.jpg)
}